<!-- auth.component.html -->
<form nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="username" nzRequired>Username</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input nz-input id="username" name="username" type="text" required placeholder="Enter your username" [(ngModel)]="name" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input nz-input id="password" name="password" type="password" required placeholder="Enter your password" [(ngModel)]="password" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <label nz-checkbox nzFor="rememberMe">
            <input type="checkbox" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe"> Remember Me
          </label>
        </nz-form-control>
      </nz-form-item>
  
    <nz-form-item>
      <nz-form-control [nzSpan]="24">
        <button nz-button nzType="primary" type="submit">Login</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  