<!-- auth.component.html -->
<div id="auth-page" *ngIf="form" >
<form [formGroup]="form" nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired="">Email</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="24" nzHasFeedback nzErrorTip="Email-ul este obligatoriu">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="parola" nzRequired>Parolă</nz-form-label>
    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Parola este obligatorie">
      <input nz-input formControlName="parola" id="parola" type="password" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <label nz-checkbox nzFor="rememberMe">
        Remember Me  
        <input type="checkbox" id="rememberMe" name="rememberMe" formControlName="rememberMe">
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <button nz-button nzType="primary" type="submit">Login</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <a (click)="navigateToRegister()" class="register-link">No account? Register now</a>
    </nz-form-control>
  </nz-form-item>
</form>
</div>