<h1>Welcome, {{ userName }}</h1>
<div *ngIf="!isLoaded">
    <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<div *ngIf="isLoaded">
    <div class="search-bar">
        <input [(ngModel)]="searchText" (input)="filterData(searchText)" placeholder="Search">
        <select [(ngModel)]="selectedColumn">
            <option value="Nume">Nume</option>
            <option value="Prenume">Prenume</option>
            <option value="Email">Email</option>
            <option value="Telefon">Telefon</option>
            <option value="Functie">Functie</option>
        </select>
    </div>
    <div class="add-button">
        <button nz-button nzType="primary" (click)="addEmployee()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
    </div>
    <div class="logout-button">
        <button nz-button nzType="primary" (click)="logout()">
            <i nz-icon nzType="logout" nzTheme="outline"></i>
        </button>
    </div>

    <nz-table #basicTable 
        [nzData]="(employees | async) ?? []"
        [nzBordered]="true"
        [nzSize]="'small'"
        [nzPageSize]="8"
        [nzPageIndex]="pageIndex"
        (nzPageIndexChange)="handlePageIndexChange($event)">
        <thead>
            <tr>
                <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    >
                    {{ column.name }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of basicTable.data" (dblclick)="openDetailsModal(employee)">
                <td>{{ employee.nume }}</td>
                <td>{{ employee.prenume }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.telefon }}</td>
                <td>{{ employee.functie }}</td>
                <td>
                    <button nz-button nzType="primary" (click)="editEmployee(employee)">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </button>
                    <button nz-button nzType="primary" (click)="deleteEmployee(employee.id)">
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

