<div>
    <label for="nume">Nume: </label>
    <span id="nume">{{ employee.nume }} {{ employee.prenume }}</span>
</div>

<div>
    <label for="prenume">Prenume: </label>
    <span id="prenume">{{ employee.prenume }}</span>
</div>

<div>
    <label for="functie">Functie: </label>
    <span id="functie">{{ employee.functie }}</span>
</div>



<div>
    <label for="email">Email: </label>
    <span id="email">{{ employee.email }}</span>
</div>

<div>
    <label for="telefon">Telefon: </label>
    <span id="telefon">{{ employee.telefon }}</span>
</div>